body{
  margin:0;
  padding:0;
  font-family: 'Playfair Display', serif;
  background-color: rgb(255, 255, 255);
}

.main{
  margin: 7%;
}

a{
  text-decoration: none;
}

.title{
  font-size: 170px;
  color: rgb(99, 207, 90); 
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

.title:hover{
  font-style: italic;
}

.information{
text-align:center; 
font-size: 25px;
padding-top: 2%;
font-family: Arial, Helvetica, sans-serif;
}


.idioms{
color:black;
text-align: center;
margin: 2%;
text-decoration: none;
position: absolute;
font-family: Arial, Helvetica, sans-serif;
/* font-family: 'Nunito', sans-serif; */
}

.idiom_phrase{
color: black; 
  text-align: center;
  margin: 2%;
  padding-top: 50px;
  font-size: 70px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.idioms:hover{
  font-style: italic;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.setimages{
  position: relative;
  max-width: 200px; 
  max-height:200px; 
  padding:10px;
  margin-top: 6%;
  filter: drop-shadow(10px 10px 10px rgb(88, 88, 88));
}

.imagepercent{
  font-family: Arial, Helvetica, sans-serif;

}


.spercent{
  position: absolute;
  color:black;
}

.setimages_first{
  opacity: 0%;
  width: 100px;
  height:100px;
}

#setimages_1_1, #setimages_1_2, #setimages_1_3,#setimages_1_4, #setimages_1_5, #setimages_1_6, #setimages_1_7, #setimages_1_8, #setimages_1_9, #setimages_1_10, #setimages_1_11, #setimages_1_12,#setimages_1_13,#setimages_1_14,#setimages_1_15,#setimages_1_16,#setimages_1_17,#setimages_1_18, #setimages_1_19, #setimages_1_20, #setimages_1_21, #setimages_1_22, #setimages_1_23, #setimages_1_24, #setimages_1_25{
  opacity: 0%;
}

.setimages{
  
animation: sidetoside 5s infinite;
}

@keyframes sidetoside {
  
    0% {
     left:0px;  
    } 
    50% {
      left:100px; 
    }
    100% { 
      left: 0px; 
    }
  
  }
  

  .nextidiom{
    padding: 25px;
    font-family: 'Playfair Display', serif;
    background-color:rgb(99, 207, 90);
    border: none;
    position: relative;
    right: 0; 
  }

  .idiominfopage{
   color: black; 
   text-align: center;
   margin: 2%;
   padding-top: 50px;
   font-size: 70px;
   padding-bottom: 0px;
   font-family: 'Playfair Display', serif;
   font-style: italic;
  }

  .information2{
    padding-top: 1%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    line-height: 26px;
  }

  .infolink{
    color: black; 
    text-decoration: none;
  }

  .infolink:hover{
    font-style: italic; 
    text-decoration: underline;
  }

 